<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">


<!-- 不使用namespace的话sql搜索定位会比较方便 -->
<mapper namespace="ExitSubDao">

	<resultMap id="RM_ExitSub" type="com.qk.module.font.entity.ExitSub">
        <result property="rid" column="Rid"/>
        <result property="exitMasterId" column="exit_Master_id"/>
        <result property="exitSubAmount" column="exit_Sub_amount"/>
        <result property="exitSubState" column="exit_sub_state"/>
        <result property="matchId" column="Match_id"/>
        <result property="createTime" column="Create_time"/>
        <result property="subPri" column="Sub_pri"/>
        <result property="isLocked" column="Is_locked"/>
        <result property="exitMember" column="exit_member"/>
        <result property="exitType" column="Exit_type"/>
        <result property="matchCount" column="match_count"/>
	</resultMap>
	
	<!-- 用于select查询公用抽取的列 -->
	<sql id="ExitSub_columns">
	    <![CDATA[
		Rid,exit_Master_id,exit_Sub_amount,exit_sub_state,Match_id,Create_time,Sub_pri,Is_locked,exit_member,Exit_type,match_count
	    ]]>
	</sql>
</mapper>

